
body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

#container{
    margin: 0 auto;
    border: #333 solid 1px;
    display: flex;
    flex-wrap: wrap;
    /* width: 500px;
    height: 500px; */
}


.square {
    /* width: 31.25px;
    height: 31.25px; */

}
